<?xml version="1.0" encoding="UTF-8" ?>

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/kimwanyi_sacco</property>
        <property name="hibernate.connection.username">collins</property>
        <property name="hibernate.connection.password">StrongPassword123!</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.current_session_context_class">thread</property>


        <mapping class="org.kimwanyi.sacco.entity.User"/>
        <mapping class="org.kimwanyi.sacco.entity.Role"/>
        <mapping class="org.kimwanyi.sacco.entity.Permission"/>
        <mapping class="org.kimwanyi.sacco.entity.Member"/>
        <mapping class="org.kimwanyi.sacco.entity.SavingsAccount"/>
        <mapping class="org.kimwanyi.sacco.entity.SavingsTransaction"/>
        <mapping class="org.kimwanyi.sacco.entity.Loan"/>
        <mapping class="org.kimwanyi.sacco.entity.LoanRepayment"/>
        <mapping class="org.kimwanyi.sacco.entity.LedgerAccount"/>
        <mapping class="org.kimwanyi.sacco.entity.JournalEntry"/>
        <mapping class="org.kimwanyi.sacco.entity.JournalLine"/>
        <mapping class="org.kimwanyi.sacco.entity.Notification"/>
        <mapping class="org.kimwanyi.sacco.entity.RolePermission"/>
        <mapping class="org.kimwanyi.sacco.entity.UserRole"/>
        <mapping class="org.kimwanyi.sacco.audit.AuditLog"/>
    </session-factory>
</hibernate-configuration>